body {
  font-family: "Roboto", sans-serif;
}

div.container {
  width: 100%;
  border: 0px solid gray;
}
h1 {
  font-size: 50px;
}

header,
footer {
  padding: 1em;
  color: white;
  background-color: rgb(49, 153, 35);
  clear: left;
  text-align: center;
  box-shadow: -2px 3px 5px rgba(77, 78, 79, 0.2);
}

footer {
  background-color: rgb(114, 75, 2);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 19%;
  overflow: hidden;
  height: 500px;
}
.options {
  margin-top: 4%;
  padding: 1em;
  display: grid;
  grid-template-columns: auto;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.address-input {
  height: 50px;
  width: 400px;
  font-size: 20px;
}

.btn-effect {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.btn-effect:hover {
  background-color: #4caf50;
  color: white;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
